/*------------------------------*/
/* 変数設定ファイル */
/*------------------------------*/

/*------------------------------*/
/* カラー */
/*------------------------------*/
$shadow: #aaa;

$header-text-color: #fff;
$header-background-color: #009BD1;

/*------------------------------*/
/* メディアクエリ */
/*------------------------------*/

$breakpoint_lg: 1023px;
$breakpoint_md: 834px;
$breakpoint_sm: 480px;
