/*------------------------------*/
/* 変数設定ファイル */
/*------------------------------*/

/*------------------------------*/
/* カラー */
/*------------------------------*/
$shadow: #aaa;

$header-text-color: #fff;
$header-background-color: #009BD1;


/*------------------------------*/
/* カラー */
/*------------------------------*/
$shadow: #aaa;

$header-text-color: #fff;
$header-background-color: #009BD1;

/*------------------------------*/
/* メディアクエリ */
/*------------------------------*/

$breakpoint_lg: 1023px;
$breakpoint_md: 834px;
$breakpoint_sm: 480px;


/*------------------------------*/
/* MixIn */
/*------------------------------*/
@mixin main {
  padding: 20px 29px;

  @media screen and (max-width: $breakpoint_md) {
    padding: 16px;
  }

  @content;
}
